.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.not-found-img {
  width: 300px;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.not-found-heading {
  font-size: 2rem;
  color: #343a40;
  margin: 10px 0;
}

.not-found-text {
  font-size: 1.1rem;
  color: #6c757d;
}
